# log configuration
log:
  # root path
  path: ./logs
  # level
  level: debug
  # log to console
  console: true

# service configuration
serv:
  # bindaddr - bind addr
  bindaddr: 0.0.0.0:7205

tokens:
  - uiPobCUJ0kXwonOm

# configuration for jccclient
jccclient: ./config/jccclient.yaml

# path for template
tmplpath: ./cfg/tmpl

# plugins
plugins:
  - alimama
  - techinasia
  - steepandcheap
  - mountainsteals
  - manhuadb
  - douban
  - jrj
  - oabt
  - hao6v
  - p6vdy

# configuration for plugins
pluginscfg:
  alimama: ./cfg/alimama.yaml
  steepandcheap: ./cfg/steepandcheap.yaml

# configuration for Ada
ada:
  servaddr: 47.91.209.141:7201
  token: x7sSGGHgmKwUMoa5S4VZlr9bUF2lCCzF

# path for task logs
tasklogspath: ./tasklogs
# Does it call initJieba
isinitjieba: true
# Does it call initOpenCC
openccpath: ./cfg/opencc
# api serv bind address
apiserv: :7206
# tradingdb2 server address
tradingdb2servaddr: 127.0.0.1:5002
# tradingdb2 server token
tradingdb2servtoken: 1234567